body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background: #f0f0f0;
  font-family: myfont1;
}
#a4sheet {
  width: 595px; 
  height: 842px;
  padding: 40px;
  background: white;
  /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
  font-size: 20px;
  line-height: 1.5;
  color: black;
  overflow-wrap: break-word;
}

@font-face {
    font-family: sue;
    src: url(Fonts/SueEllenFrancisco-Regular.ttf);
}

@font-face {
  font-family: myfont1;
  src: url(Fonts/Myfont-Regular.ttf);
}

@media (max-width: 480px) {
  body {
    font-size: 10px;
    display: flex;
    flex-direction: column;
  }
  #a4sheet {
    width: 297.5px; 
    height: 421px;
    padding: 40px;
    margin-left: 100px;
  }
}